<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Blog AboutPage | <%= title %></title>
</head>
<body>
    <header>
        <h3>Welcome to the About page on my first backend project</h3>
    </header>

    <main>
        <nav>
            <ul>
                <li><a href="/">Home page</a></li>
                <li><a href="/about">About page</a></li>
                <li><a href="/blogs/create">Add New Blog</a></li>
            </ul>
        </nav>

        <div class="blog-title">
            <p>Read all about us down below</p>
           </div>

        <div class="about-container">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe laborum perferendis amet! Neque accusamus corrupti, doloribus distinctio ea error dicta. Porro illum in perferendis pariatur, sequi, quidem ut magni quaerat dignissimos asperiores, commodi beatae totam eius architecto aut ipsam blanditiis soluta? Saepe libero fugiat nostrum ipsa distinctio nemo tempora exercitationem?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est excepturi tempore, consectetur ipsam odio soluta blanditiis animi nihil quisquam dolor libero nulla corporis omnis modi perspiciatis fugit? Beatae sint corporis unde sit accusamus quasi amet nostrum, cupiditate nesciunt consequuntur obcaecati ipsa! Repellat recusandae blanditiis minus doloribus numquam praesentium saepe dicta odit dolor qui fugit optio officiis atque consectetur quaerat at quibusdam, debitis, soluta maxime distinctio esse eaque alias, facilis dolores. Autem sunt blanditiis ipsam! Iste tempore odio error ratione, laborum autem cumque voluptatum laboriosam earum nisi minus praesentium, dolorem dolores? Eveniet impedit obcaecati dignissimos, doloribus recusandae libero. Voluptatum quos, officiis debitis vel provident omnis excepturi. Maxime odit dolores quas quibusdam fugiat, amet repellendus omnis optio deleniti voluptas quo? Dicta eaque, esse fuga provident modi quod beatae laboriosam, rerum similique deserunt temporibus reiciendis quibusdam autem aspernatur. Repudiandae sit ducimus qui minus blanditiis. Blanditiis ea reiciendis modi itaque dolore a exercitationem repudiandae corporis. Ex veniam dicta dignissimos quae nesciunt nisi blanditiis fugiat omnis aspernatur ipsa consequatur alias minus debitis quos enim, vero eum voluptatum quas quis. Unde debitis tempora adipisci inventore magnam delectus aut dicta. Laudantium aliquid non laboriosam obcaecati nemo, vel rem odio ex. Natus, sit consequuntur! Illum, qui? Pariatur commodi eius a molestias repudiandae optio consequatur, debitis, expedita earum aspernatur maiores quibusdam soluta deserunt impedit possimus error voluptates eos ipsam magnam numquam est aperiam exercitationem quia. Quo officiis, dicta unde laudantium fugit necessitatibus at, voluptatibus, nesciunt corporis facilis ducimus impedit sit cum! Aut veniam aperiam delectus accusantium iste perferendis similique distinctio animi, expedita recusandae hic quos vel deleniti eveniet, non, possimus sit maxime nihil placeat error. Quod quis ratione accusantium similique vel, eos magni laudantium non, dolore unde illum sapiente maiores, voluptates nemo quibusdam quae architecto ut? Blanditiis, hic necessitatibus deleniti debitis eveniet in quaerat esse, consequuntur saepe recusandae aspernatur fuga voluptate modi dolorum non sapiente dolorem odio aperiam doloribus quos neque veniam! Eos non illum aliquam mollitia impedit, odit eaque natus sint, ex nemo perferendis vel! Praesentium assumenda, enim illum accusamus dolorum sequi magnam dolores esse. Magni tempore doloribus distinctio, deleniti ratione aliquam voluptatibus quos libero nobis in facere, dolores aperiam eos tempora ab earum necessitatibus et, nemo exercitationem natus repellendus quibusdam. Dicta porro alias impedit, hic itaque expedita eveniet sapiente perferendis qui, beatae magnam asperiores vitae accusantium eligendi nobis! Libero accusamus obcaecati nostrum possimus inventore iusto porro, vero suscipit commodi sint praesentium quidem accusantium reiciendis quis doloribus voluptate in? Est nemo inventore laborum! Explicabo, error quo dicta quas perspiciatis iste dolorum neque molestias labore! Amet, praesentium doloremque dicta neque unde nobis quisquam eos molestias quod expedita quis possimus cupiditate ullam quas facere sit excepturi magni blanditiis, pariatur ipsa vel non? Error soluta quaerat quod esse dolore similique tempora ipsum temporibus tempore quae quas pariatur, quidem perferendis id libero cum at dicta ducimus rerum consectetur facere! Rem consequatur molestiae esse fugiat placeat! Voluptatum tempore, sit minima dignissimos architecto officia sapiente quas! Fuga, nesciunt? Optio aliquam, facilis quibusdam consequuntur accusamus, vel ratione possimus quo deserunt unde sit, sunt beatae nesciunt!</p>
        </div>
    </main>
    
</body>
</html>

